@page "/addresses"

@using EDSAdminUI.Repositories
@using EnergyDataSystem.Entities.Models

@inject AddressService _AddressService
@inject HttpClient _Http

<h3>Addresses</h3>

@if (addresses == null)
{
    <p><em>Loading addresses...</em></p>
}
else
{
    <table class="table">    
        <tbody>        
            <tr>
                <td><SfButton CssClass="e-primary">Primary</SfButton></td>
                <td><Button Color="ButtonColor.Primary">Refresh list</Button></td>
                <td><Button Color="ButtonColor.Primary">Create Address</Button></td>            
            </tr>        
        </tbody>
     </table>

    <table class="table">
        <thead>
            <tr>                        
                <th>Street name</th>
                <th>Street number</th>
                <th>Postal code</th>
                <th>City</th>
                <th>Description</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var address in addresses)        
            {
                <tr>
                    <td>@address.StreetName</td>
                    <td>@address.StreetNumber</td>
                    <td>@address.PostalCode</td>
                    <td>@address.City</td>
                    <td>@address.Description</td>
                    <td>EDIT</td>
                    <td>DELETE</td>
                </tr>
            }
        </tbody>
     </table>
 }

@code {
    private IEnumerable<Address> addresses;

    protected override async Task OnInitializedAsync()
    {
        addresses = await _Http.GetFromJsonAsync<IEnumerable<Address>>("https://localhost:7127/api/addresses");
    }

     /*@page "/addresses/{addressId}"
     
    }*/
}